@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.Tile{
    padding: 14px 14px;
    border: 1px solid #E7E7E9;
    background-color: #ffffff;
}

.TileHeaderText{
    
    color: #a5a5a5; 
    font-family: fantasy; 
    font-size: x-large; 
    font-weight: bold; 
}
